<!--<mat-toolbar color="primary">-->
  <!--Angular Material 2 App-->
<!--</mat-toolbar>-->
<!--<div class="basic-container">-->
  <app-simple-table
                    [parentSettings]="settingsToChild"
                    (getSourceDataFlag)="sendDataToChild($event)"
                    [parentMessage]="parentMessage"
  ></app-simple-table>
<!--</div>-->


<!--Copyright Google LLC All Rights Reserved.-->

<!--Use of this source code is governed by an MIT-style license that can be-->
<!--found in the LICENSE file at https://angular.io/license-->







