<mat-toolbar color="primary">
  Clauses kit list
</mat-toolbar>
<div class="button-row">
  <button mat-raised-button
          [disabled]="!currentClausesKit"
          (click)="setKitCurrent()" color="primary">Select</button>
  <button mat-raised-button
          (click)="openAddDialog()" color="primary">Add</button>
  <button mat-raised-button
          [disabled]="!currentClausesKit"
          (click)="openEditDialog()" color="primary">Edit</button>
  <button mat-raised-button
          [disabled]="!currentClausesKit"
          (click)="openDelDialog()" color="primary">Del</button>
  </div>
<div class="basic-container" *ngIf="clausesKit | async; let clausesKit; else loading;">

<app-simple-table  (choiseRequest)="choiseEvent($event)"
                   [parentSettings]="settingsToChild"
                   [state] = "clausesKit"
></app-simple-table>
</div>
<ng-template #loading>Loading User Data...</ng-template>
