
<div class="basic-container" *ngIf="clauses | async; let clauses; else loading;">
  <h2>My Clauses</h2>
  <button mat-raised-button
          (click)="openAddDialog()" >Add</button>
  <button mat-raised-button
          [disabled]="!currentClauses"
          (click)="openEditDialog()" >Edit</button>
  <button mat-raised-button
          [disabled]="!currentClauses"
          (click)="openDelDialog()" >Del</button>
 <app-simple-table  (choiseRequest)="choiseEvent($event)"
                     [parentSettings]="settingsToChild"
                     [state] = "clauses"
  ></app-simple-table>
</div>
<ng-template #loading>Loading User Data...</ng-template>

<!--<div>-->
  <!--<label>Phrase name:-->
    <!--<input #phraseName />-->
  <!--</label>-->
  <!--&lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
  <!--<button (click)="add(phraseName.value); phraseName.value=''">-->
    <!--add-->
  <!--</button>-->
<!--</div>-->

<!--<ul class="clauses">-->
  <!--<li *ngFor="let phrase of clauses">-->
    <!--<a routerLink="/detail/{{phrase.id}}">-->
      <!--<span class="badge">{{phrase.id}}</span> {{phrase.orig}}-->
        <!--</a>-->
    <!--<button class="delete" title="delete Phrase"-->
      <!--(click)="delete(phrase)">x</button>-->
  <!--</li>-->
<!--</ul>-->

<!--<app-phrase-search></app-phrase-search>-->



